<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Sparky's Bank</title>
    <link rel="stylesheet" href="../../static/bootstrap.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"/>
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a th:href="@{/tier2/home}" class="navbar-brand" href="#">Sparky's Bank</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a th:href="@{/tier2/viewAccounts}" class="nav-link">View Accounts</a>
            </li>
            <li class="nav-item">
                <a th:href="@{/tier2/approveRequests}" class="nav-link">Approve Requests</a>
            </li>
            <li class="nav-item">
                <a th:href="@{/tier2/approveTransfers}" class="nav-link">Approve Transfers</a>
            </li>
            <li class="nav-item">
                <a th:href="@{/tier2/updateProfile}" class="nav-link">Update Profile</a>
            </li>
            <li class="nav-item">
                <a th:href="@{/logout}" class="nav-link">Log Out</a>
            </li>
        </ul>
    </div>
</nav>
<br>
<br>
<br>
<main role="main" class="container">
    <div class="starter-template">
        <div class="jumbotron alert-danger">
            <h1><b>Oops... Something Went Wrong</b></h1>
            <h2>The profile updates could not be made</h2>
            <br>
            <br>
            <h3>One of the following errors could've occurred: </h3>
            <ul>
                <li><b>First/Last Name</b> was not in between 2-30 characters</li>
                <li><b>Phone Number</b> was not in the correct form (XXX-XXX-XXXX)</li>
                <li><b>Social Security Number</b> was not in the correct form (XXX-XX-XXXX)</li>
                <li><b>Email Address</b> was not in the correct form (e.g. abc@gmail.com)</li>
            </ul>
            <br>
            <br>
            <input class="btn btn-light" type="button" value="Go Back and Redo" onclick="history.back(-1)" />
        </div>
    </div>
</main>
</body>
</html>