<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Sparky's Bank</title>
    <link rel="stylesheet" href="../../static/bootstrap.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"/>
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a th:href="@{/tier2/home}" class="navbar-brand" href="#">Sparky's Bank</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a th:href="@{/tier2/viewAccounts}" class="nav-link">View Accounts</a>
            </li>
            <li class="nav-item">
                <a th:href="@{/tier2/approveRequests}" class="nav-link">Approve Requests</a>
            </li>
            <li class="nav-item">
                <a th:href="@{/tier2/approveTransfers}" class="nav-link">Approve Transfers</a>
            </li>
            <li class="nav-item">
                <a th:href="@{/logout}" class="nav-link">Logout</a>
            </li>
        </ul>
    </div>
</nav>

<br>
<br>
<br>

<main role="main" class="container">
    <div class="jumbotron">

        <h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>
        <hr>
        <p class="text-danger">NOTE TO EMPLOYEES.</p>

    </div>
    <br>
    <br>
    <br>
    <div class="text-center">
        <h2>Holiday Calendar</h2>
        <p>Jan 1, 2020: New Year's Day</p>
        <p>May 25, 2020: Memorial Day</p>
        <p>Sept 7, 2020: Labor Day</p>
        <p>Nov 11, 2020: Veterans Day</p>
        <p>Nov 26-27, 2020: Thanksgiving</p>
        <p>Dec 24-25, 2020: Winter Holiday</p>
    </div>
</main>
<footer class="page-footer font-small unique-color-dark pt-4" style="color: #fff; background-color: #343a40; margin-top: 3%">
    <div class="container">
        <ul class="list-unstyled text-center py-2">
            <li>
                <h5 class="mb-1">Sparky's Bank</h5>
            </li>
            <li>
                <p>&copy; Sparky's Bank | Design by Group 7</p>
            </li>
        </ul>
    </div>
</footer>
</body>
</html>