<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Sparky's Bank</title>
    <link rel="stylesheet" href="../../static/bootstrap.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"/>

    <link rel="stylesheet" href="css/screen.css">
    <link rel="stylesheet" href="css/styles.css">
    <script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="js/jquery.validate.js"></script>

    <script type="text/javascript">
        $().ready(function() {
            $.validator.addMethod("ssn_func",function(value,element){
                return /^[0-9][0-9]{2}-[0-9]{2}-[0-9]{4}$/;
            },"Wrong form");
            $.validator.addMethod("phone_func",function(value,element){
                return /^[0-9][0-9]{2}-[0-9]{3}-[0-9]{4}$/;
            },"Wrong form");
            $.validator.addMethod("email_func",function(value,element){
                return /^[_A-Za-z0-9-\+]+(\.[_A-Za-z0-9-]+)*@[A-Za-z0-9-]+(\.[A-Za-z0-9]+)*(\.[A-Za-z]{2,})$/;
            },"Wrong form");

            $('#updateProfileForm').validate({
                rules: {
                    phone: {
                        required: true,
                        phone_func: true
                    },
                    email: {
                        required: true,
                        email: true,
                        maxLength: 256,
                        email_func: true
                    },
                    ssn: {
                        required: true,
                        ssn_func: true
                    },
                    address: {
                        required: true,
                        maxLength: 256
                    }
                }
            })
        })
    </script>
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a th:href="@{/tier2/home}" class="navbar-brand" href="#">Sparky's Bank</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a th:href="@{/tier2/viewAccounts}" class="nav-link">View Accounts</a>
            </li>
            <li class="nav-item">
                <a th:href="@{/tier2/approveRequests}" class="nav-link">Approve Requests</a>
            </li>
            <li class="nav-item">
                <a th:href="@{/tier2/approveTransfers}" class="nav-link">Approve Transfers</a>
            </li>
            <li class="nav-item">
                <a th:href="@{/tier2/updateProfile}" class="nav-link">Update Profile</a>
            </li>
            <li class="nav-item">
                <a th:href="@{/logout}" class="nav-link">Log Out</a>
            </li>
        </ul>
    </div>
</nav>

<br>
<br>
<br>

<main role="main" class="container">
    <div class="content-section col-md-8">
        <h1>Update Profile Information</h1>

        <form class="updateProfileForm" id="updateProfileForm" action="#" th:action="@{/tier2/updateProfile}" th:object="${employeeInfo}" method="post">
            <fieldset class="form-group">
                <div class="form-group">
                    <label for="firstName">First Name:</label>
                    <input disabled type="text" class="form-control" id="firstName" name="firstName" th:value="${userInfo.getFirstName()}">
                </div>
                <div class="form-group">
                    <label for="email">Last Name:</label>
                    <input disabled type="text" class="form-control" id="lastName" name="lastName" th:value="${userInfo.getLastName()}">
                </div>
                <div class="form-group">
                    <label for="email"><b>Email:</b> (e.g. abc@gmail.com)</label>
                    <input type="email" class="form-control" id="email" name="email" th:value="${userInfo.getEmail()}">
                </div>
                <div class="form-group">
                    <label for="email"><b>Phone Number:</b> (Must be in the form of: XXX-XXX-XXXX)</label>
                    <input type="text" class="form-control" id="phone" name="phone" th:value="${userInfo.getPhone()}">
                </div>
                <div class="form-group">
                    <label for="role">Role:</label>
                    <input disabled type="text" class="form-control" id="role" name="role" th:value="${userInfo.getRole()}">
                </div>
                <div class="form-group">
                    <label for="ssn"><b>Social Security Number:</b> (Must be in the form of: XXX-XX-XXXX)</label>
                    <input type="text" class="form-control" id="ssn" name="ssn" th:value="${userInfo.getSsn()}">
                </div>
                <div class="form-group">
                    <label for="dob">Date of Birth:</label>
                    <input disabled type="text" class="form-control" id="dob" name="dob" th:value="${userInfo.getDob()}">
                </div>
                <div class="form-group">
                    <label for="address">Address</label>
                    <input type="text" class="form-control" id="address" placeholder="Address" name="address" th:value="${userInfo.getAddress()}">
                </div>
                <br>
                <button type="submit" class="btn btn-primary">Update Changes</button>
                <br>
            </fieldset>
        </form>
    </div>
</main>

</body>
</html>