<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <meta charset="UTF-8" />-->
<!--    <title>Hotel Booking App</title>-->
<!--    <link rel="stylesheet" href="../static/bootstrap.css" th:href="@{/bootstrap.css}" />-->
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Sparky's Bank</title>
    <link rel="stylesheet" href="../static/bootstrap.css" />
</head>
<body>
    <p th:text="'Hello, ' + ${name} + '!'"></p>
</body>
</html>