<!DOCTYPE html>
<html lang="en">
<head>
    <title>Register</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
    <h2>Enter SSN and email to confirm your account!!!</h2>
    <form action="/action_page.php">
        <div class="form-group">
            <label for="ssn">SSN:</label>
            <input type="text" class="form-control" id="ssn" placeholder="Enter ssn" name="ssn">
        </div>
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" class="form-control" id="email" placeholder="Enter Email" name="email">
        </div>
        <div class="form-group">
            <label for="cemail">Confirm Email:</label>
            <input type="cemail" class="form-control" id="cemail" placeholder="Confirm email" name="cemail">
        </div>

</div>
<center><button type="submit" class="btn btn-default">Submit</button></center>
</form>
</div></body></html>
