<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Register</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="content-section col-md-8">
    <form action="#" th:action="@{/register}" th:object="${user}" method="post">
        <fieldset class="form-group">
            <legend class="border-bottom mb-4" >Registration Page</legend>
            <div class="form-group">
                <label for="firstName">First Name:</label>
                <span class="text-danger" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></span>
                <input type="text" class="form-control" id="firstName" placeholder="Enter First Name" name="First Name" th:field="*{firstName}">
            </div>
            <div class="form-group">
                <label for="Last Name">Last Name:</label>
                <span class="text-danger" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></span>
                <input type="text" class="form-control" id="Last Name" placeholder="Enter Last Name" name="Last Name" th:field="*{lastName}">
            </div>
            <div class="form-group">
                <label for="email">Email:</label>
                <span class="text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
                <input type="email" class="form-control" id="email" placeholder="Enter email" name="email" th:field="*{email}">
            </div>
            <div class="form-group">
                <label for="pwd">Password:</label>
                <span class="text-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
                <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pwd" th:field="*{password}">
            </div>
            <div class="form-group">
                <label for="confirmPassword">Confirm Password:</label>
                <span class="text-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
                <input type="Password" class="form-control" id="confirmPassword" placeholder="Confirm Password" name="confirmPassword" >
            </div>
            <div class="form-group">
                <label for="phone">Phone Number:</label>
                <span class="text-danger" th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}"></span>
                <input type="text" class="form-control" id="phone" placeholder="Format: xxx-yyy-zzzz" name="phone" th:field="*{phone}">
            </div>
            <div class="form-group">
                <label for="ssn">SSN:</label>
                <span class="text-danger" th:if="${#fields.hasErrors('ssn')}" th:errors="*{ssn}"></span>
                <input type="text" class="form-control" id="ssn" placeholder="Format: xxx-yy-zzzz" name="ssn" th:field="*{ssn}">
            </div>
            <div class="form-group">
                <label for="dob">Date of Birth:</label>
                <span class="text-danger" th:if="${#fields.hasErrors('dob')}" th:errors="*{dob}"></span>
                <input type="date" class="form-control" id="dob" placeholder="Format: yyyy-mm-dd" name="dob" th:field="*{dob}">
            </div>
            <div class="form-group">
                <label for="address">Address:</label>
                <span class="text-danger" th:if="${#fields.hasErrors('address')}" th:errors="*{address}"></span>
                <input type="text" class="form-control" id="address" placeholder="Address" name="address" th:field="*{address}">
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
    </form>
    </fieldset>
</div>
<script type="text/javascript">
    var password=document.getElementById("password");
    var confirmPassword=document.getElementById("confirmPassword");

    password.onfocus = function() {
        document.getElementById("message").style.display = "block";
    }
    password.onblur = function() {
        document.getElementById("message").style.display = "none";
    }

    function validatePassword() {

        if (password.value.length == 0)
        {
            confirmPassword.setCustomValidity("Passwords Empty");
        }
        else if(password.value != confirmPassword.value) {
            confirmPassword.setCustomValidity("Passwords Don't Match");
        } else {
            confirmPassword.setCustomValidity('');
        }

    }
    password.onchange = validatePassword;
    confirmPassword.onkeyup = validatePassword;
</script>

</body>
</html>