<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Sparky's Bank</title>
    <link rel="stylesheet" href="../../static/bootstrap.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"/>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

    <!--  jQuery -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <!-- Isolated Version of Bootstrap, not needed if your site already uses Bootstrap -->
    <link rel="stylesheet" href="https://formden.com/static/cdn/bootstrap-iso.css" />
    <!-- Bootstrap Date-Picker Plugin -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <div class="collapse navbar-collapse" id="navbarsExampleDefault" style="display: flex; justify-content: flex-start">
        <a th:href="@{/user/home}" class="navbar-brand" href="#">Sparky's Bank</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a th:href="@{/user/accounts}" class="nav-link">Accounts</a>
            </li>
            <li class="nav-item">
                <a th:href="@{/user/creditdebit}" class="nav-link">Credit/Debit Funds</a>
            </li>
            <li class="nav-item">
                <a th:href="@{/user/transferFunds}" class="nav-link">Transfer Funds</a>
            </li>
            <li class="nav-item">
                <a th:href="@{/user/emailTransfer}" class="nav-link">Email Transfer</a>
            </li>
            <li class="nav-item">
                <a th:href="@{/user/cashierCheque}" class="nav-link">Cashier Cheque</a>
            </li>
            <li class="nav-item">
                <a th:href="@{/user/support}" class="nav-link">Help & Support</a>
            </li>
            <li class="nav-item">
                <a th:href="@{/logout}" class="nav-link">Log Out</a>
            </li>
        </ul>
    </div>
</nav>
<br>
<br>
<br>
<main role="main" class="container">
    <div class="starter-template">
        <h1>Schedule Appointment</h1>
        <br>
        <br>
        <br>
    </div>
    <div class="card-block" style="padding: 24px;">
        <form role="form" th:action="@{/user/createAppointment}" method="post" th:object="${scheduleApp}" >
            <fieldset>
                <div class="form-group">
                    <label for="title">Title </label>
                    <input type="text" class="form-control" id="title" name="title"
                           placeholder="Title" th:field="*{title}" >
                </div>

                <div class="form-group"> <!-- Date input -->
                    <label class="control-label" for="date">Date:</label>
                    <input class="form-control" id="date" name="date" placeholder="YYYY/MM/DD" type="text"/>
                </div>

                <div>
                    <label for="time">Start Time (1 hour appointment):</label>
                    <select id="time" name="time" class="form-control">
                        <option th:value="null" th:text="Select"></option>
                        <option th:value="'9:00:00'" th:text="'9:00 AM'"></option>
                        <option th:value="'10:00:00'" th:text="'10:00 AM'"></option>
                        <option th:value="'11:00:00'" th:text="'11:00 AM'"></option>
                        <option th:value="'12:00:00'" th:text="'12:00 PM'"></option>
                        <option th:value="'13:00:00'" th:text="'1:00 PM'"></option>
                        <option th:value="'14:00:00'" th:text="'2:00 PM'"></option>
                        <option th:value="'15:00:00'" th:text="'3:00 PM'"></option>
                        <option th:value="'16:00:00'" th:text="'4:00 PM'"></option>
                        <option th:value="'17:00:00'" th:text="'5:00 PM'"></option>
                        <option th:value="'18:00:00'" th:text="'6:00 PM'"></option>
                    </select>
                </div>

                <br>
                <div>
                    <label>Contact Type:</label>
                    <span class="text-danger" th:if="${#fields.hasErrors('contactWay')}" th:errors="*{contactWay}"></span>
                    <select th:field="*{contactWay}">
                        <option th:value="InPerson">In Person</option>
                        <option th:value="Phone" th:text="Phone">Phone</option>
                    </select>
                </div>
                <br>

                <div class="form-group">
                    <label for="description">Description </label>
                    <input type="text" class="form-control" id="description" name="description"
                           placeholder="Description" th:field="*{description}" >
                </div>
                <!-- Submit Button -->
                <div class="form-actions" style="margin-top: 12px;">
                    <button type="submit" class="btn btn-success">Submit</button>
                </div>
            </fieldset>
        </form>
    </div>
</main>

<script>
    var today = new Date();
    var day = today.getDay();

    $(document).ready(function(){
        var date_input=$('input[name="date"]'); //our date input has the name "date"
        var container=$('.bootstrap-iso form').length>0 ? $('.bootstrap-iso form').parent() : "body";
        var options={
            format: 'yyyy-mm-dd',
            container: container,
            todayHighlight: true,
            autoclose: true,
            startDate: day.toString()
        };
        date_input.datepicker(options);
    })
</script>

</body>
</html>